@font-face {
   font-family: 'TT Norms Pro Normal';
   font-display: swap;
   src: url('file:///C:/Users/Peter_Galantay/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-06-12_154547/fonts/TT%20Norms%20Pro%20Normal/font.ttf');
}
